body { background-color: #121212; color: #fff; font-family: sans-serif; text-align: center; margin: 0; height: 100vh; overflow: hidden; display: flex; flex-direction: column; align-items: center; justify-content: center; }

/* ΟΘΟΝΕΣ */
.screen { display: none; width: 100%; height: 100%; flex-direction: column; align-items: center; justify-content: center; }
.active { display: flex; }

/* ΚΟΥΜΠΙΑ */
button { width: 90%; padding: 20px; font-size: 20px; margin: 10px; border-radius: 15px; border: none; font-weight: bold; cursor: pointer; color: white; }
.btn-pompos { background-color: #00C853; color: black; }
.btn-dekths { background-color: #2962FF; }
.btn-setup { background-color: #FF6D00; color: black; border: 2px solid white; }
.btn-fake { background-color: #222; color: #888; border: 1px solid #444; }

/* ALARM OVERLAY (ΤΟ POP UP) */
#alarmOverlay { 
    display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; 
    background: red; z-index: 9999; 
    flex-direction: column; align-items: center; justify-content: center;
    animation: flash 0.5s infinite;
}
@keyframes flash { 0% { background: red; } 50% { background: #800; } 100% { background: red; } }

.stop-btn { 
    width: 250px; height: 250px; border-radius: 50%; background: white; 
    color: red; font-size: 40px; font-weight: 900; border: 10px solid yellow; 
}

/* FAKE LOCK */
#fakeLockScreen {
    display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: black; z-index: 5000;
    flex-direction: column; align-items: center; justify-content: center;
    color: #333;
}
